<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.url == "/" or page.url == "/en/" or page.url == "/tr/" %}
        {% assign seo_homepage = true %}
    {% endif %}
    {% assign seo_name = site.title %}

    {% if page.title %}
        {% assign seo_site_title = site.title | append:" - " | append: page.title %}
        {% assign seo_page_title = page.title %}
    {% elsif post.title %}
        {% assign seo_site_title = site.title | append:" - " | append: post.title %}
        {% assign seo_page_title = post.title %}
    {% else %}
        {% assign seo_site_title = site.title %}
    {% endif %}
    {% if seo_title_title %}
        {% assign seo_title_title = seo_site_title | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}
    {% if seo_page_title %}
        {% assign seo_page_title = seo_page_title | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% assign seo_description = post.description | default: page.description | default: site.description %}
    {% if seo_description %}
        {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}

    {% if site.url %}
        {% assign seo_url = site.url | append: site.baseurl %}
    {% endif %}
    {% assign seo_url = seo_url | default: site.github.url %}

    {% assign seo_links = site.socialmeta.links %}

    <meta name="description" content="{{ seo_description }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ seo_site_title }}</title>

    <link rel="author" href="https://plus.google.com/107015095174650081571"/>
    <link rel="alternate" href="{{ seo_url }}/tr" hreflang="tr" />
    <link rel="alternate" href="{{ seo_url }}/en" hreflang="en" />

    <!-- open graph -->

    <meta property="og:site_name" content="{{ site.title }}">
    {% if seo_homepage %}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ seo_site_title }}">
    {% else %}
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ seo_page_title }}">
    {% endif %}

    <meta property="og:description" content="{{ seo_description }}">

    {% if seo_url %}
        <link rel="canonical" href="{{ page.url | prepend: seo_url }}" />
        <meta property='og:url' content='{{ page.url | prepend: seo_url }}' />
    {% endif %}

    {% if page.img %}
        <meta property="og:image" content="{{ page.img | prepend: '/img/' | prepend: seo_url | escape }}" />
    {% endif %}

    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% endif %}

    {% if page.lang == 'en' %}
        <meta property="og:locale" content="en_US" />
        <meta property="og:locale:alternate" content="tr_TR" />
    {% else %}
        <meta property="og:locale" content="tr_TR" />
        <meta property="og:locale:alternate" content="en_US" />
    {% endif %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{{ seo_page_title | default: seo_site_title }}" />
    <meta name="twitter:description" content="{{ seo_description }}" />
    {% if page.img %}
        <meta name="twitter:image" content="{{ page.img | prepend: '/img/' | prepend: seo_url | escape }}" />
    {% endif %}
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />

    <!-- shortcut icons -->
    <link rel="shortcut icon" href='{{ seo_url }}/img/favicon.ico' type='image/x-icon' />
    <link rel="apple-touch-icon-precomposed" href="{{ seo_url }}/img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ seo_url }}/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ seo_url }}/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ seo_url }}/img/apple-touch-icon-144x144-precomposed.png">
    <!--iOS -->
    <meta name="apple-mobile-web-app-title" content="GokhanVarol.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Windows 8 / RT -->
    <meta name="msapplication-TileImage" content="{{ seo_url }}/img/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#000">

    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            {% if seo_homepage %} "@type" : "WebSite", {% else %} "@type" : "WebPage", {% endif %}
            {% if seo_name %} "name" : {{ seo_name | jsonify }}, {% endif %}
            {% if seo_page_title %} "headline": {{ seo_page_title | jsonify }}, {% endif %}
            {% if page.img %} "image": {{ page.img | jsonify }}, {% endif %}
            {% if page.date %} "datePublished": {{ page.date | date_to_xmlschema | jsonify }}, {% endif %}
            {% if seo_description %} "description": {{ seo_description | jsonify }}, {% endif %}
            {% if site.logo %} "logo": {{ site.logo | prepend: "/img/" | prepend: seo_url | jsonify }}, {% endif %}
            {% if seo_links %} "sameAs" : {{ seo_links | jsonify }}, {% endif %}
            "url" : "{{ page.url | prepend: seo_url }}"
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <!-- org <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ seo_url }}/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Anonymous+Pro:400,700|Oswald:400,700|Roboto:400,500,700|Roboto+Slab:400,700|Ubuntu:400,500,700|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Kanit:400,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>