---
layout: default
---
{% include nav.html %}

<article class="container page-content">

  <header class="col-lg-12">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <div class="col-md-8">
    <div class="small">
        <span class="meta-date"><i class="fa fa-calendar"></i> {{ page.date | date: "%d/%m/%Y" }}</span>
        <span class="meta-tags"><i class="fa fa-tags"></i>
          {% for tag in page.tags %}
            <a href="/{{ page.lang }}/tags#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span>
    </div>
    {{ content }}
  </div>

  <aside class="col-md-4 text-center">
      <h4>INFO</h4>

      {% if page.discogs %}
        <p><a href="{{ page.discogs }}" target="_blank" class="btn btn-default btn-lg">discogs</a></p>
      {% endif %}

      {% if page.itunes %}
        <h4>BUY</h4>
        <p><a href="{{ page.itunes }}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-apple fa-fw"></i>itunes</a></p>
      {% endif %}

      {% if page.spotify or page.deezer %}
        <h4>LISTEN</h4>
        {% if page.spotify %}
          <p><a href="{{ page.spotify }}" target="_blank" class="btn btn-default btn-lg">
            <svg fill="currentColor" width="32" height="32" version="1.1" id="lni_lni-spotify" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve" aria-hidden="true" focusable="false">
                <g>
                    <path d="M43.6,45.9c-7.9-3.8-16.9-4.7-25.3-2.5c-0.9,0.2-1.5,1.2-1.2,2.1s1.2,1.5,2.1,1.2c7.6-2,15.7-1.2,22.9,2.3
                        c0.2,0.1,0.5,0.2,0.8,0.2c0.6,0,1.3-0.4,1.6-1C44.9,47.4,44.5,46.3,43.6,45.9z"/>
                    <path d="M47,34.5c-6.1-2.9-12.8-4.4-19.3-4.4c-3.8,0-7.2,0.4-10.5,1.3c-0.9,0.3-1.5,1.2-1.2,2.1c0.3,0.9,1.2,1.5,2.1,1.2
                        c3-0.8,6-1.2,9.6-1.2c6,0,12.2,1.4,17.9,4c0.2,0.1,0.5,0.2,0.7,0.2c0.7,0,1.3-0.4,1.6-1C48.2,35.9,47.9,34.9,47,34.5z"/>
                    <path d="M50.5,22.4c-7.1-3.3-14.8-5-22.8-5c-3.6,0-7.5,0.4-11.6,1.3c-0.9,0.2-1.6,1.1-1.4,2.1c0.2,0.9,1.1,1.6,2.1,1.4
                        c3.8-0.8,7.5-1.2,10.9-1.2c7.5,0,14.7,1.6,21.3,4.7c0.2,0.1,0.5,0.2,0.7,0.2c0.7,0,1.3-0.4,1.6-1C51.7,23.9,51.3,22.8,50.5,22.4z"
                        />
                    <path d="M32,0.3C14.5,0.3,0.3,14.5,0.3,32c0,17.5,14.2,31.8,31.7,31.8c17.5,0,31.8-14.3,31.8-31.8C63.8,14.5,49.5,0.3,32,0.3z
                         M32,60.3C16.4,60.3,3.8,47.6,3.8,32C3.8,16.4,16.4,3.8,32,3.8c15.6,0,28.3,12.7,28.3,28.2C60.3,47.6,47.6,60.3,32,60.3z"/>
                </g>
                </svg>
                SPOTIFY
            </a></p>
        {% endif %}

        {% if page.deezer %}
          <p><a href="{{ page.deezer }}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-align-left fa-fw fa-rotate-270"></i>deezer</a></p>
        {% endif %}
      {% endif %}

      <h4>Share</h4>

      <a class="btn btn-circle" href="https://twitter.com/share?text={{ page.title }}&url={{ url }}&via=gokhan_varol" target="_blank" ><svg fill="currentColor" width="32" height="32" version="1.1" id="lni_lni-twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve" aria-hidden="true" focusable="false">
        <g>
            <path d="M20.6,57.9c-7.1,0-13.9-2-19.6-5.9c-0.7-0.5-1-1.3-0.7-2.1s1.1-1.2,1.9-1.1C3.1,48.9,4,49,4.9,49c3.7,0,7.3-0.9,10.5-2.5
                c-3.9-1.4-7-4.6-8.4-8.8c-0.2-0.6,0-1.3,0.4-1.7c0.1-0.1,0.2-0.2,0.3-0.2c-3.1-2.6-5-6.4-5-10.7v-0.1c0-0.6,0.3-1.2,0.9-1.5
                c0.3-0.2,0.7-0.3,1-0.2c-1.2-2.1-1.8-4.4-1.8-6.9c0-2.5,0.6-4.9,1.9-7c0.3-0.5,0.8-0.8,1.4-0.9c0.6,0,1.1,0.2,1.5,0.6
                c5.4,6.7,13.2,10.9,21.7,11.8c0-0.3,0-0.6,0-0.8c0-7.7,6.2-13.9,13.9-13.9c3.5,0,6.8,1.3,9.4,3.7c1.4-0.4,2.8-1.3,4.2-2.2
                c0.6-0.4,1.3-0.8,1.9-1.2c0.6-0.3,1.3-0.3,1.8,0c0.6,0.4,0.9,1,0.8,1.7c-0.1,0.5-0.3,2.5-1,4.5c0.6,0,1.2,0,1.5,0
                c0.7-0.1,1.4,0.2,1.8,0.8c0.4,0.6,0.4,1.4,0,1.9c-1.4,2.2-3.5,3.6-5.6,5c-0.3,0.2-0.6,0.4-0.9,0.6c0,0.2,0,0.5,0,0.7
                C57,39.4,43.4,57.9,20.6,57.9z M8.9,52.2c3.7,1.4,7.6,2.2,11.7,2.2c20.6,0,32.9-16.7,32.9-32.9c0-0.4,0-1,0-1.3
                c-0.1-0.6,0.2-1.2,0.7-1.6c0.6-0.4,1.2-0.8,1.7-1.2c0.7-0.5,1.4-1,2.1-1.5c-0.3,0-0.5-0.1-0.8-0.1c-0.6-0.1-1.1-0.5-1.3-1.1
                c-0.2-0.6-0.2-1.2,0.2-1.7c0.2-0.3,0.5-0.8,0.7-1.3c-1.4,0.8-2.9,1.6-4.6,1.9c-0.6,0.1-1.2-0.1-1.6-0.5c-2-2.1-4.7-3.3-7.6-3.3
                c-5.7,0-10.4,4.7-10.4,10.4c0,0.7,0.1,1.5,0.3,2.4c0.1,0.5,0,1.1-0.4,1.5c-0.3,0.4-0.9,0.6-1.4,0.6C21.8,24.1,13,20.1,6.6,13.4
                c-0.3,0.9-0.4,1.9-0.4,2.9c0,3.5,1.7,6.7,4.6,8.6c0.7,0.4,0.9,1.2,0.7,2c-0.2,0.7-1,1.2-1.7,1.2c-1.1,0-2.3-0.2-3.4-0.5
                c1,3.8,4,6.8,8,7.6c0.8,0.2,1.4,0.9,1.4,1.7c0,0.8-0.5,1.5-1.3,1.7c-1.1,0.3-2.1,0.4-3,0.5c1.9,2.8,5,4.6,8.5,4.7
                c0.7,0,1.4,0.5,1.6,1.2c0.2,0.7,0,1.5-0.6,1.9C17.5,49.8,13.3,51.5,8.9,52.2z"/>
        </g>
        </svg></a>

      <a class="btn btn-circle" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank" >
        <svg fill="currentColor" width="32" height="32" version="1.1" id="lni_lni-facebook-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve" aria-hidden="true" focusable="false">
            <g>
                <path d="M36.2,63.8h-7.8c-2,0-3.6-1.7-3.6-3.8V36.2h-6.4c-2,0-3.6-1.7-3.6-3.8v-6.9c0-2.1,1.6-3.8,3.6-3.8h6.2v-6.3
                    c0-9.1,5.4-15.2,13.4-15.2H44c2,0,3.6,1.7,3.6,3.8v8.1c0,2.1-1.6,3.8-3.6,3.8h-4.1c-0.1,0-0.1,0-0.2,0c0,0.1,0,0.2,0,0.3v5.4h5.7
                    c1.2,0.1,2.2,0.6,2.9,1.4c0.7,0.9,1,2.1,0.8,3.2c0,0,0,0,0,0L47.9,33c-0.2,1.8-1.7,3.1-3.6,3.1h-4.6v23.9
                    C39.7,62,38.1,63.8,36.2,63.8z M26.5,32.7c1,0,1.8,0.8,1.8,1.8v25.5c0,0.2,0.1,0.3,0.1,0.3l7.8,0c0,0,0.1-0.1,0.1-0.3V34.3
                    c0-1,0.8-1.8,1.8-1.8h6.3c0,0,0.1,0,0.1-0.1c0,0,0-0.1,0-0.1l1.2-6.7c0-0.2,0-0.3-0.1-0.4c0,0-0.1-0.1-0.2-0.1l-7.4,0
                    c-1,0-1.8-0.8-1.8-1.8v-7.1c0-1.8,0.3-3.8,3.7-3.8H44c0,0,0.1-0.1,0.1-0.3V4.1c0-0.2-0.1-0.3-0.1-0.3l-5.9,0c-6,0-9.9,4.6-9.9,11.7
                    v8.1c0,1-0.8,1.8-1.8,1.8h-8c0,0-0.1,0.1-0.1,0.3v6.9c0,0.2,0.1,0.3,0.1,0.3L26.5,32.7z"/>
            </g>
            </svg>
      </a>


  </aside>

</article>

{% if page.comments %}
    <div id="disqus_thread" class="container"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            this.page.title = "{{ page.title }} ({{ page.lang }})";
            this.language = "{{ page.lang }}";
        };

        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//gokhanvarol.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
